<h3>Formulario de contacto</h3>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="label">
      <label>
        Nombre:
        <input type="text" formControlName="name">
      </label>
    </div>

    <div>
      <label>
        Email:
        <input type="email" formControlName="email">
      </label>
    </div>

    <div>
      <label>
        Teléfono:
        <input type="tel" formControlName="phone">
      </label>
    </div>

    <div>    
      <label>
      Comentario:
      <textarea formControlName="comment"></textarea>
    </label></div>

    <div>
      <button type="submit">Enviar</button>
    </div>

  </form>
