<h3>Formulario de contacto</h3>
<div>
  <p>Rellena tus datos y nos pondremos en contacto contigo lo antes posible</p>
</div>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div>
      <label>
        Nombre:
        <div class="input">
          <input type="text" formControlName="name">
        </div>
      </label>
    </div>

    <div>
      <label>
        Email:
        <div class="input">
          <input type="email" formControlName="email">
        </div>
      </label>
    </div>

    <div>
      <label>
        Teléfono:
        <div class="input">
          <input type="tel" formControlName="phone">
        </div>
      </label>
    </div>

    <div>    
      <label>
      Comentario:
      <div class="input">
        <textarea formControlName="comment"></textarea>
      </div>
      </label>
    </div>

    <div class="button">
      <button type="submit">Enviar</button>
    </div>

  </form>
